.title {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    iwe7-button {
        flex: 1;
        margin: 5px;
    }
}

:host {
    overflow: auto;
    max-height: 100%;
    display: block;
}

input {
    width: 120px;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    background: #efefef;
    margin: 0px;
    padding: 0px 10px;
    border: none;
    outline: none;
}

dt {
    margin-top: 5px;
}


.cube{
  background: var(--cube-bg);
  color: var(--cube-color);
  width: 100px;
  height: 100px;
}
