<div class="swiper-container" [swiper]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./assets/adv.png" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="activity-class clearfix">
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/201712/15/15133138725a335650e8844_cA366S960566.png?imageView2/5/w/239/h/99/format/png" alt="吸粉">
      </div>
      <div class="activity-info">
        <div class="name">吸粉</div>
        <div class="state">最火爆的吸粉应用</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-11.html" target="_blank">
          <div class="name">吸粉</div>
          <div class="state">最火爆的吸粉应用</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/2018/03/05/15202284485a9cd86089e14_NFJw3kUeHJ9z.png?imageView2/5/w/239/h/99/format/png" alt="视频">
      </div>
      <div class="activity-info">
        <div class="name">视频</div>
        <div class="state">视频</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-42.html" target="_blank">
          <div class="name">视频</div>
          <div class="state">视频</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/2018/03/05/15202284205a9cd844de4c3_l22hR28r2HS1.png?imageView2/5/w/239/h/99/format/png" alt="游戏">
      </div>
      <div class="activity-info">
        <div class="name">游戏</div>
        <div class="state">游戏</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-160.html" target="_blank">
          <div class="name">游戏</div>
          <div class="state">游戏</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/201712/15/15133138275a3356236f177_fSo4msRPwwhM.png?imageView2/5/w/239/h/99/format/png" alt="朋友圈">
      </div>
      <div class="activity-info">
        <div class="name">朋友圈</div>
        <div class="state">玩转您的微信社交平台</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-10.html" target="_blank">
          <div class="name">朋友圈</div>
          <div class="state">玩转您的微信社交平台</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/201712/15/15133138335a3356299d1f8_D75R581vbCOR.png?imageView2/5/w/239/h/99/format/png" alt="拼团">
      </div>
      <div class="activity-info">
        <div class="name">拼团</div>
        <div class="state">微信群商模式领导者</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-106.html" target="_blank">
          <div class="name">拼团</div>
          <div class="state">微信群商模式领导者</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/201712/15/15133138485a33563861602_VK2rZeVFNOgT.png?imageView2/5/w/239/h/99/format/png" alt="商城">
      </div>
      <div class="activity-info">
        <div class="name">商城</div>
        <div class="state">提供整套电商解决方案</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-102.html" target="_blank">
          <div class="name">商城</div>
          <div class="state">提供整套电商解决方案</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/2018/01/30/15172875355a6ff86f94c5a_evAuhZK91mvE.png?imageView2/5/w/239/h/99/format/png" alt="答题">
      </div>
      <div class="activity-info">
        <div class="name">答题</div>
        <div class="state">答题营销</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-321.html" target="_blank">
          <div class="name">答题</div>
          <div class="state">答题营销</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/201712/15/15133138685a33564c373c0_wzKSTBD4SDX0.png?imageView2/5/w/239/h/99/format/png" alt="淘宝">
      </div>
      <div class="activity-info">
        <div class="name">淘宝</div>
        <div class="state">微信淘宝客应用神器</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-306.html" target="_blank">
          <div class="name">淘宝</div>
          <div class="state">微信淘宝客应用神器</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/201712/15/15133138435a335633c28a2_gqm5uUVV8CVV.png?imageView2/5/w/239/h/99/format/png" alt="红包">
      </div>
      <div class="activity-info">
        <div class="name">红包</div>
        <div class="state">最疯狂的微信营销应用</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-3.html" target="_blank">
          <div class="name">红包</div>
          <div class="state">最疯狂的微信营销应用</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="bg-img">
        <img src="//cdn.w7.cc/images/201712/15/15133138625a33564621e9d_g9059xFM2x69.png?imageView2/5/w/239/h/99/format/png" alt="直播">
      </div>
      <div class="activity-info">
        <div class="name">直播</div>
        <div class="state">功能最全面的直播平台</div>
      </div>
      <div class="activity-description">
        <a href="http://s.we7.cc/label-13.html" target="_blank">
          <div class="name">直播</div>
          <div class="state">功能最全面的直播平台</div>
          <div class="access">
            <span class="btn-access">进入分类</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="card" style="margin-top: 20px;">
    <div class="card-body">
      <div class="flex">
        <div class="card" style="width: 18rem;" *ngFor="let item of list">
          <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162909ee958%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162909ee958%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.6%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.desc}}</p>
            <a href="javascript:;" class="btn btn-primary">{{item.price}}元/{{item.unit}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="margin-top: 20px;">
    <div class="card-body">
      <div class="flex">
        <div class="card" style="width: 18rem;" *ngFor="let item of list">
          <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162909ee958%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162909ee958%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.6%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.desc}}</p>
            <a href="javascript:;" class="btn btn-primary">{{item.price}}元/{{item.unit}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
