

#DBItemView #DBItemViewBody .ant-col-r .container-scroll .item-container .item .inner-item .title,
#EditBlockView #EditBlockViewBody .edit-class-body-layer .ant-form-horizontal .params-item .params-dropdown .title-group .title-detail,
#EditBlockView #EditBlockViewBody .edit-class-body-layer .ant-form-horizontal .params-item .params-dropdown .title-group .title-obj,
#EditBlockView #EditBlockViewBody .edit-class-body-layer .ant-form .params-item .params-dropdown .title-group .title-detail,
#EditBlockView #EditBlockViewBody .edit-class-body-layer .ant-form .params-item .params-dropdown .title-group .title-obj,
#EditBlockView #EditBlockViewHeader.property-header-class .property-header .header-name,
#EditBlockView #EditClassViewBody .edit-class-body-layer .ant-form-horizontal .params-item .params-dropdown .title-group .title-detail,
#EditBlockView #EditClassViewBody .edit-class-body-layer .ant-form-horizontal .params-item .params-dropdown .title-group .title-obj,
#EditBlockView #EditClassViewBody .edit-class-body-layer .ant-form .params-item .params-dropdown .title-group .title-detail,
#EditBlockView #EditClassViewBody .edit-class-body-layer .ant-form .params-item .params-dropdown .title-group .title-obj,
#EditBlockView #EditClassViewHeader.property-header-class .property-header .header-name,
#EditClassView #EditBlockViewBody .edit-class-body-layer .ant-form-horizontal .params-item .params-dropdown .title-group .title-detail,
#EditClassView #EditBlockViewBody .edit-class-body-layer .ant-form-horizontal .params-item .params-dropdown .title-group .title-obj,
#EditClassView #EditBlockViewBody .edit-class-body-layer .ant-form .params-item .params-dropdown .title-group .title-detail,
#EditClassView #EditBlockViewBody .edit-class-body-layer .ant-form .params-item .params-dropdown .title-group .title-obj,
#EditClassView #EditBlockViewHeader.property-header-class .property-header .header-name,
#EditClassView #EditClassViewBody .edit-class-body-layer .ant-form-horizontal .params-item .params-dropdown .title-group .title-detail,
#EditClassView #EditClassViewBody .edit-class-body-layer .ant-form-horizontal .params-item .params-dropdown .title-group .title-obj,
#EditClassView #EditClassViewBody .edit-class-body-layer .ant-form .params-item .params-dropdown .title-group .title-detail,
#EditClassView #EditClassViewBody .edit-class-body-layer .ant-form .params-item .params-dropdown .title-group .title-obj,
#EditClassView #EditClassViewHeader.property-header-class .property-header .header-name,
#id-certification .id-certification-main .publish-content .content.content-loading .style-pop-up .pop-up-content .content-item .pop-input.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
#id-certification .id-certification-main .publish-content .content .content-main .main-left .loading-background .color-input.loading-bg-div span,
#id-certification .id-certification-main .publish-content .content .content-main .main-left .loading-group .loading-style .progress-type-select.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
#id-certification .publish-main .publish-content .content.content-loading .style-pop-up .pop-up-content .content-item .pop-input.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
#id-certification .publish-main .publish-content .content .content-main .main-left .loading-background .color-input.loading-bg-div span,
#id-certification .publish-main .publish-content .content .content-main .main-left .loading-group .loading-style .progress-type-select.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
#PropertyView #PropertyViewHeader .header-name,
#PropertyView .db-view-com .db-mapping-group .db-mapping-text,
#publish-work .id-certification-main .publish-content .content.content-loading .style-pop-up .pop-up-content .content-item .pop-input.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
#publish-work .id-certification-main .publish-content .content .content-main .main-left .loading-background .color-input.loading-bg-div span,
#publish-work .id-certification-main .publish-content .content .content-main .main-left .loading-group .loading-style .progress-type-select.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
#publish-work .publish-main .publish-content .content.content-loading .style-pop-up .pop-up-content .content-item .pop-input.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
#publish-work .publish-main .publish-content .content .content-main .main-left .loading-background .color-input.loading-bg-div span,
#publish-work .publish-main .publish-content .content .content-main .main-left .loading-group .loading-style .progress-type-select.ant-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
#resourceTree .resource-group .resource-item .item-inner-wrap .item-title,
#resourceTree .resource-group .resource-item .item-title-wrap .item-title,
#resourceTree .resource-group .resource-page-item .item-inner-wrap .item-title,
#resourceTree .resource-group .resource-page-item .item-title-wrap .item-title,
#resourceTree .resource-group .resource-root-item .item-inner-wrap .item-title,
#resourceTree .resource-group .resource-root-item .item-title-wrap .item-title,
.bind-key-select .ant-select-dropdown-menu-item,
.customer-service-header .default-header,
.customer-service-header .name,
.data-binding .binding-content .content-area .area-scroll .table-container .data-binding-table .binding-table-item .obj-title div,
.data-binding .data-binding-menu .ant-dropdown-menu-item,
.db-mapping-select .ant-select-dropdown-menu-item,
.EventBox .EB--content-layer .Action .ant-dropdown-menu-item,
.EventBox .EB--content-layer .Action .P--content .p--left .target-obj-input .ant-fake-input .input-title,
.EventBox .EB--content-layer .Action .P--content .p--right .p--delay .delay-container .delay-input .ant-input-number-input,
.EventBox .EB--content-layer .Action .P--content .p--right .p--extra .extra-row .oe-title div,
.EventBox .EB--content-layer .Action .P--content .p--right .pp--list .create-obj-input .ant-fake-input,
.EventBox .EB--content-layer .Action .P--content .p--right .pp--list .db-cons .in-compare-dropDown .title .title-name,
.EventBox .EB--content-layer .Action .P--content .p--right .pp--list .db-cons .operation-dropDown .title,
.EventBox .EB--content-layer .Action .P--content .p--right .pp--list .filter-col .in-compare-dropDown .title .title-name,
.EventBox .EB--content-layer .Action .P--content .p--right .pp--list .filter-col .operation-dropDown .title,
.EventBox .EB--content-layer .Action .P--content .p--right .pp--list .p--dropDown .title .inner-value,
.EventBox .EB--content-layer .Con .item-memo .item-memo-detail .detail-memo.normal-memo .memo-input,
.EventBox .EB--content-layer .Con .P--content .p--line .con-list .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Con .P--content .p--line .while-list .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Con .P--content .p--right .con-list .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Con .P--content .p--right .while-list .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Event .E--content .item-header .item-memo .item-memo-detail .detail-memo.normal-memo .memo-input,
.EventBox .EB--content-layer .Event .E--content .item-header .item-title .dropDown-layer .dropDown .dropDown-input-full .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Event .E--content .item-header .item-title .dropDown-layer .title .inner-title,
.EventBox .EB--content-layer .Event .E--content .item-header .item-title .zhong .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Loop .item-memo .item-memo-detail .detail-memo.normal-memo .memo-input,
.EventBox .EB--content-layer .Loop .P--content .p--line .con-list .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Loop .P--content .p--line .while-list .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Loop .P--content .p--right .con-list .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--content-layer .Loop .P--content .p--right .while-list .event-condition-select .ant-select-selection .ant-select-selection__rendered .ant-select-selection-selected-value,
.EventBox .EB--title .EB--title-name .name-wrap,
.EventBox .EB--title .EB--title-search-wrap .object-list-wrap .item .text,
.formulaInput .formula-mode .formula-obj-arrType-dropDown .arr-table .data-row .data-column-title,
.formulaInput .formula-mode .formula-obj-arrType-dropDown .arr-table .data-row .data-row-title,
.formulaInput .formula-mode .formula-obj-name,
.formulaInput .formula-mode .formula-obj-property,
.historyRecord .historyRecord-content li,
.NavBar .nb--left .left-group .dropDown-btn2 .dropDownToggle ul li,
.NavBar .nb--left .special-layer .app-li-content li,
.NavBar .nb--left .special-layer .class-module-li-content li,
.NavBar .nb--left .special-layer .create-li-content li,
.NavBar .nb--left .special-layer .history-li-content li,
.NavBar .nb--left .special-layer .open-li-content li,
.object-prop .source-item .obj-title div,
.object-prop .source-item .props-title div,
.object-source-list .source-item .obj-title div,
.object-source-list .source-item .props-title div,
.ObjectTree .stage .fake-widget-title .fake-widget-name-wrap,
.ObjectTree .stage .fake-widget-title .item-name-wrap,
.ObjectTree .stage .fake-widget-title .stage-name-wrap,
.ObjectTree .stage .fake-widget-title p,
.ObjectTree .stage .item-title .fake-widget-name-wrap,
.ObjectTree .stage .item-title .item-name-wrap,
.ObjectTree .stage .item-title .stage-name-wrap,
.ObjectTree .stage .item-title p,
.ObjectTree .stage .stage-title .fake-widget-name-wrap,
.ObjectTree .stage .stage-title .item-name-wrap,
.ObjectTree .stage .stage-title .stage-name-wrap,
.ObjectTree .stage .stage-title p,
.propertyView #PropertyViewHeader .header-name,
.propertyView .db-view-com .db-mapping-group .db-mapping-text,
.TbCome .TC-content .TC-db .TC-db-content .item-layer .item .item-dropDown .iDropDown-content .iDropDown ul li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@keyframes editDb-big {
    0% {
        left: -194px
    }
    to {
        left: 0
    }
}

@-webkit-keyframes editDb-big {
    0% {
        left: -194px
    }
    to {
        left: 0
    }
}

@keyframes editDb-small {
    0% {
        right: -38px
    }
    to {
        right: 0
    }
}

@-webkit-keyframes editDb-small {
    0% {
        right: -38px
    }
    to {
        right: 0
    }
}

@keyframes toggle-show {
    0% {
        opacity: 1
    }
    49% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    99% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes toggle-show {
    0% {
        opacity: 1
    }
    49% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    99% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes save-loading {
    0% {
        width: 0
    }
    to {
        width: 100%
    }
}

@-webkit-keyframes save-loading {
    0% {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes dbSave {
    0% {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #202f20;
        opacity: 1;
        z-index: 0
    }
    90% {
        opacity: 1
    }
    to {
        left: 50%;
        top: 50%;
        right: 50%;
        bottom: 50%;
        background: #202f20;
        opacity: 0;
        z-index: 0
    }
}

@-webkit-keyframes dbSave {
    0% {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #202f20;
        opacity: 1;
        z-index: 0
    }
    90% {
        opacity: 1
    }
    to {
        left: 50%;
        top: 50%;
        right: 50%;
        bottom: 50%;
        background: #202f20;
        opacity: 0;
        z-index: 0
    }
}

body,
html {
    overflow: hidden !important
}

body {
    background: #151515 !important
}

.hidden {
    display: none !important
}

#DesignView-Container,
#iH5-App,
#iH5-App-Container,
.app-container {
    height: 100%
}

#DesignView-Container {
    overflow: hidden
}

#iH5-App-Container {
    position: relative;
    top: 1px
}
