@import "~fullpage.js/dist/jquery.fullpage.min.css";
.section {
    background-position: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    position: relative;
    overflow: hidden;
}
