/* You can add global styles to this file, and also import other style files */

// @import "themes/default.scss";
// @import "themes/mixins/motion.scss";
// @import "themes/core/motion/fade.scss";
// @import "themes/core/motion/move.scss";
// @import "themes/core/motion/other.scss";
// @import "themes/core/motion/slide.scss";
// @import "themes/core/motion/swing.scss";
// @import "themes/core/motion/zoom.scss";
// @import "~@angular/cdk/overlay-prebuilt.css";
// @import "~@angular/cdk/text-field-prebuilt.css";
@import "themes/fonts/iconfont.css";
* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

html,
body,
app-root {
    display: block;
    height: 100%;
    background: #efefef;
    overflow: auto;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    padding: 5px 10px;
    margin: 5px 0px;
    input {
        flex: 1;
        height: 30px;
        line-height: 30px;
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 0 10px;
        color: gray;
        background: #000;
        &:active {
            color: #fff;
        }
        &:hover {
            color: #fff;
        }
    }
}

.ant-form,
.ant-form-item,
.ant-form-item-label label {
    color: inherit !important;
}

.ant-form-item-children {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
  color: inherit;
}
